.card{
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  width: 100%;
  height: 400px;

  border-radius: 10px;
}

.title{
  font-size: 2.5rem;
  color: var(--branco-1);
}

.desc{
  font-size: 1.5rem;
  color: var(--branco-1);
}

.btn{
  font-size: 2rem;
  font-weight: 600;

  width: 90%;
}