.background{
  background-color: var(--bg-color-1);
  background: url("/bg-login.jpg") center top / cover;
  min-height: 100vh;
}

.theme-switch{
  display: flex;
  justify-content: end;
}

.titulo {
  display: flex;
  justify-self: center;
  justify-content: center;

  background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -.1rem;
  text-align: center;

  width: clamp(200px, 90%, 800px);
  
  cursor: default;
}


.login-card{
  display: flex;
  align-self: center;
  background-color: color-mix(in srgb, var(--bg-color-2), rgba(0, 0, 0, 0));

  width: 400px;
  max-width: 100%;

  padding: 1rem;

  border-radius: 10px;
  border: 2px solid var(--bg-color-5);
  box-shadow: -1px 1px 15px 0px rgba(0, 0, 0, 0.5), -1px 1px 10px 0px rgba(0, 0, 0, 0.5), -9px 9px 9px 0 rgba(255, 255, 255, 0.1) inset;
  backdrop-filter: blur(5px);
}