.barra{
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(5deg, var(--primary-darker), var(--primary-color));

  padding: .5rem 1.5em;

  box-shadow: 0px 1px 5px 0px rgb(0, 0, 0, 0.5);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  z-index: 1;
}

.logo{
  color: var(--branco-1);
  
  font-size: 2rem;
  font-weight: 600;

  cursor: pointer;
}

.li-link{
  transition: all .2s ease;

  &:hover{
    transform: scale(1.02);
  }
}

.nav-links{
  cursor: pointer;
  transition: all .2s ease;
  
  color: var(--branco-1);

  &:hover{
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
  }
}

.btn-sair{
  cursor: pointer;
}